
body {margin: 0;}

/* Classes for complete header section start here*/
.headr {
    background-color: darkred;
    height: 139px;
}

#headr-img {
    float: right;
    margin-left: 760px;
    padding-top: 10px;
    position: absolute;
}

/*Classes for top most bar starts here*/
.topbr1 {
    background-color: rgba(128,0,0,0.6);
    height: 45px;
    position: relative;
    z-index: 0;
}

.headr1 {
    background-color: rgba(128,0,0,0.6);
    height: 45px;
    margin: 0 auto;
    width: 1000px;
}

/* Class to align bbc image section in headr 1*/
.bbc-img {
    float: left;
    height: 45px;
    width: 220px;
}

.bbc-img img {padding-bottom: 5px;}

/*Class for links in the topbr section */
.headr1-menu {
    float: left;
    height: 45px;
    margin: 0;
    width: 600px;
}

.headr1-menu a:link {
    color: white;
    display: block;
    font-weight: bold;
    height: 30px;
    text-align: center;
    text-decoration: none;
    width: 60px;
}

.headr1-menu a:visited {color: white;}

.headr1-menu a:hover {
    background-color: brown;
    width: 60px;
}

/*to align the list items horizontally*/
li {                 
    float: left;
    list-style: none;
}

/* .srchimg and .search-box are classes for search box section*/
.srchimg {	
    background: url("../images/srch.gif") right no-repeat;
    background-color: white;
}

.search-box {padding-top: 14px;}

/*Classes for top bar 2 starts here*/
.topbr2 {
    background-color: darkred;
    max-height: 80px;
}

.headr2 {
    background-color: darkred;
    height: 65px;
    margin: 0 auto;
    width: 1000px;
}

/*for "news" text in top bar2*/
.news {
    float: left;
    height: 60px;
    width: 180px;
}

.news p {
    color: white;
    font-size: 50px;
    font-weight: bolder;
    margin: 0;
    padding-top: 5px;
}

.current-datetime {
    float: left;
    height: 60px;
    width: 400px;
}

.current-datetime p {
    color: white;
    height: 60px;
    margin: 35px 0 0 0;
    width: 300px;
}

/*Classes for top bar 3 starts here*/
.topbr3 {
    background-color: rgba(0,0,0,0.6);
    height: 30px;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

/*Classes for unordered list used for links in top bar 3*/
.topbr3-menu {
    height: 30px;
    width: 1000px;
}

.topbr3-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topbr3-menu a:link {
    color: white;
    display: block;
    font-size: 15px;
    height: 25px;
    padding: 2px 4px 0 4px;
    text-align: center;
    text-decoration: none;
    width: auto;
}

.topbr3-menu a:visited {color: white;}

.topbr3-menu a:hover {background-color: brown;}

#topbr3-li1 {
    background-color: whitesmoke;
    color: darkslategray;
    height: 27.5px;
}

/*Classes for top bar 4 starts here*/
.topbr4 {
    background-color: whitesmoke;
    height: 30px;
    margin: 0 auto;
    width: 1000px;
}

.topbr4-menu {
    float: left;
    height: 30px;
    width: 1000px;
}

.topbr4-menu a:link {color: darkslategray;}

.topbr4-menu a:visited {color: darkslategray;}

.topbr4-menu a:hover {
    background-color: white;
    color: darkslategray;
    text-decoration: underline;
}

/*Classes for top bar 5 starts here*/
.topbr5 {
    background-color: white;
    height: 120px;
    margin: 0 auto;
    width: 1000px;
}

.topbr5 img {padding: 0 0 0 95px;}

/* Complete header section ends here*/
/*Classes for main news content starts here*/
.main-news {
    background-color: white;
    border-top: 1px darkgray solid;
    height: 3264px;
    margin: 18px auto 0 auto;
    width: 1000px;
}

/*Classes for middle news content starts here*/
.mid-news {
    background-color: white;
    float: left;
    height: 3250px;
    margin: 20px auto 0 auto;
    width: 650px;
}

/*Middle news1 section starts from here*/
.mid-news1 {
    background-color: white;
    border-bottom: 1px darkgrey solid;
    float: left;
    height: 308px;
    margin: 0px;
    width: 650px;
}

.mid-news1 p {
    color: darkslategrey;
    float: left;
    margin: 0;
    padding-left: 15px;
}

.mid-news1 img {
    float: left;
    padding-top: 5px
}

.mid-news1 a {
    color: midnightblue;
    float: left;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}

.mid-news1 li a {
    color: darkslategrey;
    float: left;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding-left: 15px;
}

.mid-news1 a:hover {text-decoration: underline;}

.mid-news1 ul {
    color: darkslategrey;
    list-style-type: none;
    padding-left: 0px;
}

.mid-news1 li a img {padding-top: 5px;}

/*Middle news2 section starts from here*/
.mid-news2 {
    background-color: white;
    border-bottom: 1px darkgrey solid;
    float: left;
    height: 200px;
    margin: 5px 0px 0px 0px;
    width: 650px;
}

.mid-news2 img {
    float: left;
    padding: 10px 0 0 0px;
}

.mid-news2 .mdnewsheading {
    float: left;
    font-size: 20px;
    padding: 5px 0 0 10px;
}

.mid-news2 a {
    color: midnightblue;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}

.mid-news2 a:hover {text-decoration: underline;}

.mid-news2 p {
    color: darkslategrey;
    float: left;
    margin: 0;
    padding-left: 10px;
}

.mid-news2 li a {
    color: darkslategrey;
    float: left;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding-left: 10px;
}

.mid-news2 ul li {
    margin: 0;
    padding: 0;
}

.mid-news2 ul {
    color: darkslategrey;
    list-style-type: none;
    padding-left: 0px;
}

.mid-news2 li a img {padding-top: 5px;}

/*Middle news3 section starts from here*/
.mid-news3 {
    background-color: white;
    border-bottom: 1px darkgrey solid;
    float: left;
    height: 350px;
    margin: 5px 0px 0px 0px;
    width: 650px;
}

.mid-news3 .mdnewsheading {
    float: left;
    font-size: 20px;
    padding: 5px 0 0 10px;
}

.mid-news3 img {
    float: left;
    padding: 10px 0 0 0px;
}

.mid-news3 a {
    color: midnightblue;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}

.mid-news3 a:hover {text-decoration: underline;}

.mid-news3 p {
    color: darkslategrey;
    float: left;
    margin: 0;
    padding-left: 10px;
}

.mid-news3 li a {
    color: darkslategrey;
    float: left;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding-left: 10px;
}

.mid-news3 ul li {
    margin: 0;
    padding: 0;
}

.mid-news3 ul {
    color: darkslategrey;
    list-style-type: none;
    padding-left: 0px;
}

.mid-news3 li a img {padding-top: 5px;}

/*Classes for the block of 4 images like a slidebar starts here*/
.slidebr {
    background-color: white;
    float: left;
    height: 81px;
    margin: 0 auto;
    padding-top: 16px;
    text-align: center;
    width: 650px;
}

#a {display: inline-block;}

#b {display: inline-block;}

#c {display: inline-block;}

#d {display: inline-block;}

.slidetxt {
    background-color: white;
    float: left;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
    width: 650px;
}

.slidetxt div {background-color: darkorange}

#e {
    display: inline-block;
    width: 144px;
}

#g {
    display: inline-block;
    width: 144px;
}

#f {
    display: inline-block;
    width: 144px;
}

#h {
    display: inline-block;
    width: 144px;
}

.slidetxt a {
    color: white;
    font-size: 15px;
    font-weight: normal;
}

.slidebr img {
    float: left;
    padding: 0;
}

/*Middle news4 section starts from here*/
.mid-news4 {
    background-color: black;
    float: left;
    height: 200px;
    margin: 10px 0px 0px 0px;
    width: 650px;
}

.midnews4-part1 {
    background-color: yellow;
    float: left;
    height: 150px;
    width: 325px;
}

/*Classes for inside section of middle news 4 bar*/
.inner1 {
    background-color: white;
    border-bottom: 1px darkgrey solid;
    height: 100px;
    width: 325px;
}

.inner1 a:link , a:visited {
    color: midnightblue;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.inner1 a:hover {text-decoration: underline;}

.inner1 p {
    color: darkslategrey;
    margin: 0;
}

.inner2 {
    background-color: white;
    height: 100px;
    width: 325px;
}

.inner2 a:link , a:visited {
    color: midnightblue;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.inner2 a:hover {text-decoration: underline;}

.inner2 p {
    color: darkslategrey;
    margin: 0;
}

.midnews4-part2 {
    background-color: white;
    float: left;
    height: 200px;
    width: 325px;
}

.midnews4-part2 p {
    color: midnightblue;
    margin: 6px 15px;
}

.midnews4-part2 a {text-decoration: none;}

.midnews4-part2 a:hover {text-decoration: underline;}

/*Middle news5 section starts from here*/
.mid-news5 {
    background-color: white;
    border-bottom: 1px darkgrey solid;
    float: left;
    height: 210px;
    margin: 0px 0px 0px 0px;
    width: 650px;
}

.mid-news5 h2 {
    color: darkslategrey;
    margin: 0;
}

#i {display: inline-block;}

#j {display: inline-block;}

#k {display: inline-block;}

#l {display: inline-block;}

#m {
    display: inline-block;
    width: 144px;
}

#n {
    display: inline-block;
    width: 144px;
}

#o {
    display: inline-block;
    width: 144px;
}

#p {
    display: inline-block;
    width: 144px;
}

.mid-news5 a {text-decoration: none;}

.mid-news5 a:hover {text-decoration: underline;}

/*Middle news6 section starts from here*/
.mid-news6 {
    background-color: white;
    border-bottom: 1px lightgray solid;
    float: left;
    height: 350px;
    width: 650px;
}

.midnews6-part1 {
    background-color: white;
    float: left;
    height: 350px;
    margin-top: 5px;
    width: 160px;
}

.midnews6-part1 a {
    color: midnightblue;
    float: left;
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
    text-decoration: none;
}

.midnews6-part1 a:hover {text-decoration: underline;}

.midnews6-part1 img {
    float: left;
    padding: 10px 10px 0 10px;
}

.midnews6-part1 p a {
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
}

.midnews6-part1 p a img {
    float: left;
    padding: 5px 0 0 0;
}

/*Middle news7 section starts from here*/
.mid-news7 {
    background-color: white;
    float: left;
    height: 410px;
    width: 650px;
}

.mid-news7 a {
    color: midnightblue;
    float: left;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    text-decoration: none;
}

.mid-news7 a:hover {text-decoration: underline;}

.midnews7-part {
    border-bottom: 1px lightgray solid;
    border-top: 1px lightgray solid;
    height: 90px;
    margin-top: 40px;
    width: 650px;
}

.midnews7-part img {
    float: left;
    padding: 10px 0 10px 0;
}

.midnews7-part p {
    float: left;
    padding: 0 40px 0 10px;
}

/*Middle news8 section starts from here*/
.mid-news8 {
    border-bottom: 1px lightgray solid;
    float: left;
    height: 225px;
    width: 650px;
}

.mid-news8 div {height: 225px;}

/*Middle news9 section starts from here*/
.mid-news9 {
    background-color: white;
    float: left;
    height: 240px;
    width: 650px;
}

.mid-news9 h2 {
    color: darkslategrey;
    margin: 0;
    padding-top: 10px;
}

.midnews9-part {
    float: left;
    height: 200px;
    width: 320px;
}

.midnews9-part a {
    color: midnightblue;
    float: left;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.midnews9-part a:hover {text-decoration: underline;}

.midnews9-part hr {
    color: rgba(0,0,0,0.1);
    float: left;
    margin: 0 0 4px 0;
    width: 308px;
}

.midnews9-part .mdnews9-innertxt {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 17px;
}

/*Middle news91 section starts from here*/
.mid-news91 {
    background-color: white;
    float: left;
    height: 230px;
    margin-top: 10px;
    width: 650px;
}

.mid-news91 h2 {
    color: darkslategrey;
    margin: 0;
    padding-bottom: 10px;
}

/*Classes for section inside middle news 91*/
.midnews91-half {
    background-color: white;
    float: left;
    height: 171px;
    width: 304px;
}

.midnews91-half a {
    color: midnightblue;
    font-weight: 600;
    padding: 0px 5px 5px 15px;
    text-decoration: none;
}

.midnews91-half a:hover {text-decoration: underline;}

.midnews91-div1 {
    background-color: darkorange;
    color: white;
    height: 85px;
}

.midnews91-div1 div {padding-top: 12px}

.midnews91-div1 a {color: white; font-size: 19px}

.midnews91-div1 p {margin: 0px 0 0 15px;}

.midnews91-div2 {
    background-color: lightgrey;
    height: 86px;
}

.midnews91-div2 p {margin: 0px ; padding: 10px 0 5px 15px}

.midnews91-div2 a {padding-right: 160px}

/*Middle news10 section starts from here*/
.mid-news10 {
    background-color: white;
    float: left;
    height: 450px;
    margin-top: 10px;
    width: 650px;
}

.mid-news10 a {
    color: midnightblue;
    float: left;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    text-decoration: none;
}

.mid-news10 a:hover {text-decoration: underline;}

.mid-news10 img {
    position: relative;
    z-index: 0;
}

.midnews10-txt {
    background-color: rgba(0,0,0,0.6);
    color: white;
    height: 70px;
    margin-top: -75px;
    position: relative;
    width: 304px;
    z-index: 9999;
}

.midnews10-txt a {
    color: white;
    float: left;
    font-size: 20px;
}

.midnews10-txt p {
    float: left;
    font-size: 15px;
    margin: 0;
}

.midnews10-pad {margin-left: 15px}

#midnews10-pad1 {margin-left: 15px}

#midnews10-pad2 {margin-left: 15px}

/*Classes for side news starts from here*/
.side-news {
    background-color: whitesmoke;
    float: left;
    height: 1600px;
    margin: 20px auto 0 auto;
    width: 350px;
}

/*Side news1 section starts from here*/
.side-news1 {
    background-color: lightgrey;
    height: 200px;
    margin: 0 auto;
    width: 330px;
}

.side-news1 a {
    color: midnightblue;
    font-size: 25px;
    font-weight: 600;
    padding-left: 10px;
    text-decoration: none;
}

.side-news1 a:hover {text-decoration: underline;}

.side-news1 img {
    float: left;
    padding-left: 10px;
}

.sdbrtxt {
    height: 80px;
    margin: auto 0;
}

.sdbrtxt a {
    float: left;
    font-size: 20px;
    padding: 0 5px
}

.side-news1 p {
    float: left;
    margin: 0;
    padding-left: 4px;
    padding-top: 0px;
}

/*Side news2 section starts from here*/
.side-news2 {
    background-color: lightgrey;
    height: 620px;
    margin: 10px auto;
    width: 330px;
}

.side-news2 h2 {
    color: darkslategray;
    margin: 0;
    padding-left: 10px;
}

.side-news2 img {
    float: left;
    padding-right: 5px;
}

.sidenews2-txt {
    float: left;
    height: 65px;
    padding-top: 7px;
    width: 330px;
}

.sidenews2-txt a {
    color: midnightblue;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 0 0 0;
    text-decoration: none;
}

.sidenews2-txt a:hover {text-decoration: underline;}

.sidenews2-txt p {
    font-size: 14px;
    margin: 0;
}

/*Side news3 section starts from here*/
.side-news3 {
    background-color: lightgrey;
    height: 340px;
    margin: 10px auto;
    width: 330px;
}

.side-news3 h2 {
    color: darkslategray;
    margin: 0;
    padding-left: 10px;
}

.side-news3 h3 {
    display: block;
    display: inline;
    float: left;
    padding: 0px 16px 6px 8px;
}

.side-news3 a {
    color: midnightblue;
    font-weight: 600;
    text-decoration: none;
}

.side-news3 a:hover {text-decoration: underline;}

/*Class for the shared heading section in side bar 3*/
.tab {
    background-color: white;
    margin-left: 4px;
    width: 57px;
}

.sidenews3-txt {
    background-color: white;
    height: 255px;
    margin: 48px auto 0 auto;
    width: 322px;
}

.sidenews3-txt ul {
    height: 290px;
    max-width: 322px;
    padding: 0;
}

.sidenews3-txt li {
    border-bottom: 1px lightgray solid;
    display: block;
    float: left;
    line-height: 45px;
    padding-left: 10px;
    width: 316px;
}

/*Side news4 section starts from here*/
.side-news4 {
    background-color: black;
    height: 370px;
    margin: 10px auto;
    width: 330px;
}

.side-news4 h2 {
    color: white;
    margin: 0;
    padding-left: 10px;
}

.side-news4 h3 {margin: 0;}

.side-news4 img {
    float: left;
    padding: 10px 8px;
}

.sidenews4-txt {
    float: left;
    height: 83px;
    width: 200px;
}

.sidenews4-txt p {
    color: white;
    font-size: 14px;
    margin: 0;
}

.sidenews4-txt a {
    color: lightblue;
    text-decoration: none;
}

.sidenews4-txt a:hover {text-decoration: underline;}

.sidenews4-txt1 {
    height: 200px;
    padding: 10px;
    width: 330px;
}

.sidenews4-txt1 p {
    color: white;
    float: left;
    font-size: 14px;
    margin: 0;
}

.sidenews4-txt1 a {
    color: lightblue;
    float: left;
    padding: 10px 0 0 0;
    text-decoration: none;
}

.sidenews4-txt1 a:hover {text-decoration: underline;}

/*Classes for upper footer start from here*/
.upper-footr {
    background-color: white;
    border-bottom: 1px grey solid;
    height: 180px;
    margin: 0 auto;
    width: 1000px;
}

.upper-footr h2 {
    color: darkslategray;
    font-size: 20px;
    margin: 0 0 15px 0;
}

.upperfootr-part {
    float: left;
    height: 120px;
    width: 130px;
}

.upperfootr-part a {
    color: midnightblue;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}

.upperfootr-part a:hover {text-decoration: underline;}

.upperfootr-part2 {
    float: left;
    height: 182px;
    margin-top: 5px;
    width: 330px;
}

.upperfootr-part2 a {
    color: midnightblue;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.upperfootr-part2 a:hover {text-decoration: underline;}

.upperfootr-part2 p {margin: 0;}

.upperfootr2-div {margin-top: 16px}

.upperfootr2-div a {font-size: 17px; font-weight: 400}

/*Class for the services text in upper footer*/
.serv h2 {
    font-size: 27px;
    width: 200px;
}

.upperfootr-part1 {
    float: left;
    height: 182px;
    width: 655px;
}

/*Classes for main footer start from here*/
.mainfootr {
    background-color: white;
    height: 120px;
    margin: 0 auto;
    width: 1000px;
}

.mainfootr-part1 {
    float: left;
    height: 110px;
    width: 500px;
}

.mainfootr-part1 a {
    color: darkslategray;
    text-decoration: none;
}

.mainfootr-part1 a:hover {
    color: darkslategray;
    text-decoration: underline;
}

.mainfootr-part2 {
    float: left;
    height: 110px;
    width: 150px;
}

.mainfootr-part2 a {
    color: darkslategray;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.mainfootr-part2 a:hover {
    color: darkslategray;
    text-decoration: underline;
}

.mainfootr-part2 p {margin: 0;}

#mainfooter-year {padding-top: 20px;}